/* Global Style */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  /* 
  Wny is sans-serif there? Becuase if Poppins does not load, 
  sans-serif will be used 
  */
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.5rem;
}

a {
  color: white;
  text-decoration: none;
}

button {
  padding: 2rem 5rem;
  background: rgb(38, 120, 153);
  border: none;
  color: white;
  font-size: calc(6px + 2vw);
  cursor: pointer;

  /* 
    Used for Transitioning
    transition: background 0.25s ease-in-out;
    background <-- we are transitioning the background
    0.25s <-- transition time
    ease-in-out <-- transition curve
  */
  transition: background 0.25s ease-in-out;

  /*
  animation: cloudAnimation 2s infinite alternate 5s;

    animation: allow to choose specific animtion created via keyframes.
    cloudAnimation: name of keyframe animation.
    2s: time of animation.
    infinite: loops animation infinitly.
    alternate: animation plays forward then in reverse once it reaches 
               the end.
    5s: alternate time.

    replace "infinite" with "forward": plays animation but stays at 
      last animation, does not reset.
  */
}

button:hover {
  background: rgb(48, 95, 122);
}

/* Nav Section with hero */

.main-head {
  background: #131c27;
  color: white;
}

nav {
  display: flex;

  /*
  width: 90%  <-- This makes the width of the nav to 90% of the screen size 
  
  margin: auto   <-- This will make it so the nav is centered 
  (also since width of nav is 90%, margin: auto will make it so there is a 
  5% padding on the left and right)
  */
  width: 90%;
  margin: auto;

  min-height: 10vh;

  align-items: center;
  flex-wrap: wrap;
}

.nav-links {
  display: flex;

  flex-flow: row wrap;
  align-items: center;
}

.nav-links ul {
  display: flex;

  flex: 1 1 5rem;

  justify-content: space-around;
  align-items: center;
  padding: 0rem 5rem;

  list-style: none;
}

/*
nav ul {
  display: flex;

  /* flex-grow flex-shrink flex-basis*/
/*
  flex: 1 1 30rem;

  justify-content: space-around;
  align-items: center;
  list-style: none;
}
*/

#logo {
  flex: 2 1 30rem;
  font-family: "Courgette", cursive;
  font-size: 3.5rem;

  padding-right: 10vw;

  /* Text Gradient */
  background: -webkit-linear-gradient(
    left,
    rgb(254, 255, 206),
    rgb(90, 175, 255)
  );

  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text; /* For compatability */
  -webkit-text-fill-color: transparent;

  /* 
  Background size is set in order to make gradient constant 
  with variable browser widths 
  */
  background-size: 15rem;
  background-repeat: no-repeat;
}

.hero {
  min-height: 90vh;
  /* Linear Gradient applied to Background */
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("./img/landing-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  font-size: calc(10px + 3.75vw);
}

.hero h3 {
  padding: 5rem 5rem 3rem 5rem;
  font-size: calc(7px + 2vw);
}

#contact-us-text {
  display: inline-block;

  padding-top: 2rem;

  /* Text Gradient */
  background: -webkit-linear-gradient(
    left,
    rgb(254, 255, 206),
    rgb(90, 175, 255)
  );

  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text; /* For compatability */
  -webkit-text-fill-color: transparent;

  /* 
  Background size is set in order to make gradient constant 
  with variable browser widths 
  */
  background-size: 27rem;
  background-repeat: no-repeat;

  font-weight: bold;

  font-size: calc(11px + 2vw);
}

/* Locations Section */

#locations {
  min-height: 100vh;

  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("img/new-york-page.png");

  background-size: cover;
  background-position: center;

  display: flex;

  align-items: center;
  position: relative;

  z-index: -1;

  /* Hides all content that leaves the flex-box (section) */
  overflow: hidden;
}

.locations-head {
  width: 90%;
  /* 
  margin: auto  <-- centers it while also creating 
  a "margin" on the left (due to width: 90%)
  */
  margin: auto;
}

.locations-head h2 {
  padding: 1rem 0rem;
}

.locations-head h3 {
  padding: 4.25rem 0rem;

  font-size: calc(10px + 1.75vw);
}

.cloud {
  /* 
  position is absolute to prevent it from being affected by flex box 
  (prevent from moving other items around) 
  */
  position: absolute;
  /* NOTE: since #locations's position is set to relative, we can say top: 0% */
  top: -10%;
  right: -5%;

  pointer-events: none;
}

.moving-cloud-1 {
  z-index: -1;

  background-clip: image;

  animation: cloudAnimation1 30s infinite alternate
    cubic-bezier(0.37, 0, 0.63, 1);
  /* cubic-bezier(0.37, 0, 0.63, 1) */
}

.moving-cloud-2 {
  top: 10%;
  right: -5%;

  animation: cloudAnimation2 10s infinite alternate
    cubic-bezier(0.37, 0, 0.63, 1);

  /* 
  z-index: -1 makes it so it goes behind other images! 
  (like layering)
  */
  z-index: -2;

  /* Image Opacity */
  opacity: 0.4;
}

/*
  For animating the clouds, 0% is the start, 100% is the end
*/

@keyframes cloudAnimation2 {
  /*
  0% {
    transform: translate(10%, -5%);
  }
  25% {
    transform: translate(5%, -10%);
  }
  50% {
    transform: translate(0%, -5%);
  }
  75% {
    transform: translate(5%, 0%);
  }
  100% {
    transform: translate(10%, -5%);
  }
  */

  /* Used for simple animtion that has only beginning and end */

  from {
    transform: translateX(-7%);
  }
  to {
    transform: translateX(0%);
  }
}

/* 
  Orbiting animation
  Source: https://www.useragentman.com/blog/2013/03/03/animating-circular-paths-using-css3-transitions/
 */
@keyframes cloudAnimation1 {
  from {
    transform: rotate(0deg) translateX(3rem) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(3rem) rotate(-360deg);
  }
}

/* Media Query */
/* NOTE: put the biggest max-size of a query on the top!!!! */
@media screen and (max-width: 1100px) {
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #logo {
    padding: 0rem;
    margin: 2rem 0rem 0rem 0rem;
    flex: 0 0 5rem;
  }

  .nav-links {
    flex-direction: row;
  }

  .nav-links ul {
    padding: 2rem 3rem;
  }

  .cloud {
    height: 40rem;
  }

  .moving-cloud-2 {
    top: 0%;
    right: -5%;
  }

  .locations-head h2 {
    color: white;
    background: rgba(19, 28, 39, 0.75);
    background-clip: paddings-box;
    padding: 2rem;
    font-size: calc(14px + 3vw);
  }

  .locations-head h3 {
    color: white;
    background: rgba(19, 28, 39, 0.75);
    background-clip: paddings-box;
    padding: 2rem;
  }

  @keyframes cloudAnimation2 {
    from {
      transform: translateX(10%);
    }
    to {
      transform: translateX(5%);
    }
  }
}

@media screen and (max-width: 600px) {
  .nav-links {
    flex-direction: column;
  }

  .nav-links ul {
    padding: 0.75rem 0rem;
    flex-basis: 0rem;
    font-size: 1rem;
  }

  .nav-links ul a {
    font-size: 80%;
  }

  #logo {
    margin: 2rem 0rem 0.25rem 0rem;
    flex: 0 0 0.5rem;
    font-size: 4.5rem;

    background-size: 16rem;
  }
}
